<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb341156449268951</string>
        </array>
      </dict>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <dict>
      <key>accelerometer</key>
      <true/>
      <key>gamekit</key>
      <true/>
      <key>opengles-2</key>
      <true/>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>DTPlatformVersion</key>
    <string>11.4</string>
    <key>CFBundleName</key>
    <string>Deepworld</string>
    <key>DTSDKName</key>
    <string>iphoneos11.4</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Taking pictures / saving Deepworld selfies</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Deepworld</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fb</string>
      <string>instagram</string>
      <string>tumblr</string>
      <string>twitter</string>
      <string>fbauth2</string>
    </array>
    <key>New item</key>
    <string></string>
    <key>DTSDKBuild</key>
    <string>15F79</string>
    <key>NSCameraUsageDescription</key>
    <string>Taking selfies</string>
    <key>CFBundleShortVersionString</key>
    <string>2.11.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17D47</string>
    <key>DTPlatformBuild</key>
    <string>15F79</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>DTXcodeBuild</key>
    <string>9F1027a</string>
    <key>CFBundleVersion</key>
    <string>2.11.0.1</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>AppLovinSdkKey</key>
    <string>UgCEHfBnQ8xQhCW7-7ahRKyNvnCzfPk85wNNaT8_h3QNFyVD44wVPtuId4FHUzQZuoxSK4S07tONpuatzVNMMF</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>FacebookAppID</key>
    <string>341156449268951</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>NSMotionUsageDescription</key>
    <string>Interactive ad controls</string>
    <key>FacebookDisplayName</key>
    <string>Deepworld</string>
    <key>CFBundleIdentifier</key>
    <string>com.bytebin.deepworld-ios</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Icon-72.png</string>
      <string>Icon-72@2x.png</string>
      <string>Icon.png</string>
      <string>Icon@2x.png</string>
    </array>
    <key>DTXcode</key>
    <string>0940</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Adding events</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>deepworldgame.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>facebook.com</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>cloudfront.net</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>Deepworld</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
